.bookmark-form-container {
    box-shadow: 5px 10px 18px #888888;
    width: 80vw;
    margin: 0 auto;
    max-width: 30rem;
    padding: 2rem;
}

.bookmark-form-container .label {
    display: block;
    margin-bottom: 1rem;
    font-size: large;
    font-weight: 500;
    text-align: left;
}

.bookmark-form-container .input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: large;
    margin-top: 0.3rem;
}

.bookmark-form-container .add-button {
    cursor: pointer;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    margin-top: 1rem;
    font-size: large;
    font-weight: 500;
}